/* App.css */
body {
    margin: 0;
    background-color: #ffffff; /* Arrière-plan blanc */
    color: #000000; /* Texte en noir */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrage vertical */
    min-height: 100vh; /* Hauteur minimale de la fenêtre visible */
  
  }
  
  .app-container {
      font-family: "SF Pro Display-Medium", Helvetica;
    width: 100vw; /* Take up the full width of the body */
    height: 100%; /* Take up the full height of the body */
    min-height: 100vh;
    /*  background-image: url('./assets/ub1.png');*/
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #ffffff;
  }
  
  .main-title {
    font-family: 'SF Pro Display', sans-serif; /* Utilisation de SF Pro Display */
    font-size: 70px;
    font-weight: 500; /* Poids de la police normal */
    line-height: 83.54px;
    text-align: center;
    margin-top: 100px; /* Marge supérieure */
  }
  
  .bold-text {
    font-weight: 700; /* Poids de la police bold */
  }
  
  .content {
    padding: 20px;
    width: 100%; /* Largeur maximale du contenu */
    max-width: 1200px; /* Largeur maximale pour le contenu */
    margin: auto;
  
  }
  
  .UBimage {
    width: auto;
  }
  
  .bottom-text {
    font-size: 18px;
    text-align: center;
    margin-top: 30px; /* Marge supérieure */
  }
  .scroll-reveal > * {
    /* text-align: justify; */
    display: inline;
    color:hsl(0deg 22.14% 64.8% / 20%);
    font-size: 60px;
    font-weight: 500;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient( #E9257F, #ce1f71 );
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
  }
  
  .scroll-text {
  
    text-align: justify;
  }
  @keyframes scroll-reveal {
    to {
      background-size: 100% 100%;
    }
  }
  .scroll-reveal p {
    /* font-family: SF Pro Display; */
  
  
  }
  
  .scrollPhotos {
    display: flex;
    justify-content: flex-start; /* Align photos to the maximum left */
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling if photos exceed container width */
    padding: 20px 0; /* Optional padding */
  }
  