.containerAthletes {
  display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.photoAthletes {
  flex: 1; /* Prend autant d'espace que possible */
  margin-right: 20px; /* Espacement entre la photo et le contenu */
}
.photoAthletes .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px; /* Adjust as necessary */
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.photoAthletes:hover img {
  filter: brightness(50%); /* Darkens the image on hover */
}
.photoAthletes:hover .overlay-text {
  opacity: 1; /* Shows the text on hover */
}

.contenuAthletes {
  flex: 2; /* Prend deux fois moins d'espace que la photo */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  h2 {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  p {
    color: #000;
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
  }
  button {
    /* padding: 8px 16px;
    font-size: 14px;
    background-color: #226fc2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer; */
  }
  
  button:hover {
    /* background-color: #0056b3; */
  }
  
  button:focus {
    outline: none;
  }
  
}




.image-button-athl {
  display: inline-block;
  background-image: url('../assets/lire.svg');
  background-size: cover;
  width: 210px;
  height: 112px;
  margin-bottom: 50px;
}

.image-button-athl button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
